/*Abouts-us-pages*/
.company-grid {
  display: grid;
  margin: 65px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  @media(min-width: 320px) and (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.company-item {
  display: flex;
  flex-direction: column;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 40px 30px;

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mission-bg {
  background: #2C5BDB;
  width: 100%;
}

.mission-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 85px;

  &__img {
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 30px;

  }

  &__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: center;
    max-width: 850px;

  }
}

.values-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 75px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #292D32;
    margin-bottom: 65px;

  }
}

.values-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.values-box {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  @media(min-width: 320px) and (max-width: 992px) {
    flex-direction: column;
  }
}

.values-item {
  padding: 40px 30px;
  display: grid;
  background: #F2F2F2;
  border-radius: 20px;
  align-items: center;
  grid-template-columns: 40px 1fr;
  max-width: 555px;
  width: 100%;
  grid-column-gap: 20px;

  &__icon {
    width: 40px;
    height: 40px;
    fill: none;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    color: #292D32;
  }
}

.numbers-bg {
  background: #F2F2F2;
  width: 100%;
  padding: 80px 0 100px;

}

.numbers-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  @media(min-width: 320px) and (max-width: 992px) {
    flex-direction: column;
    gap: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.numbers-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;


  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #292D32;
    margin-bottom: 40px;
  }
}

.number-item {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 35px 15px 35px 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 260px;
  @media(min-width: 320px) and (max-width: 992px) {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2C5BDB;
    margin-bottom: 35px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292D32;
    @media(min-width: 320px) and (max-width: 992px) {
      text-align: center;
    }
  }
}

/*reviews-page*/
.reviews-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 30px 0 100px;
  @media(min-width: 320px) and (max-width: 992px) {
    grid-template-columns:  1fr;
  }
}

.reviews-item {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  background: #F2F2F2;
  border-radius: 20px;

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.reviews-block {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-column-gap: 15px;
  align-items: center;
  margin-bottom: 15px;

  &__img {
    width: 100%;
  }

  &__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
}

/*vacancies-page*/
.vacancies-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  justify-content: space-between;
  grid-gap: 30px;
  margin: 30px 0 100px;
  @media(min-width: 320px) and (max-width: 992px) {
    justify-content: center;
  }
}

.vacancies-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 18px 15px;

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #292D32;
    max-width: 210px;
    margin-bottom: 30px;
    max-height: 235px;
    height: 100%;
  }

  &__price {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #292D32;
  }
}

/*contacts-page*/
.contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}

.contacts-row {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 60px;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  margin: 20px 0 30px;
  gap: 20px;
  max-width: 570px;
  margin-right: 30px;
  width: 100%;
  @media (min-width: 1439px) and (max-width: 1200px) {
    max-width: 530px;
  }
  @media (min-width: 1024px) and (max-width: 1199px) {
    max-width: 440px;
  }
  @media (min-width: 320px) and (max-width: 424px) {
    max-width: 320px;
    align-items: center;
    margin: 20px auto 20px;
    width: 100%;
  }
  @media (min-width: 425px) and (max-width: 767px) {
    max-width: 425px;
    align-items: center;
    margin: 20px auto 20px;
    width: 100%;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    max-width: 425px;
    align-items: center;
    margin: 20px auto 20px;
    width: 100%;
  }
}

.contacts-item {
  border: 1px solid #2C5BDB;
  border-radius: 20px;
  padding: 20px 18px 20px 30px;
  display: grid;
  grid-template-columns: 24px 1fr;
  grid-column-gap: 10px;
  align-items: center;

  @media (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
    max-width: 380px;
  }


  &__icon {
    width: 24px;
    height: 24px;
    stroke: #292D32;
    fill: none;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.contacts-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    width: 100%;
    justify-items: center;

  }
}

.contacts-map {
  width: 100%;
}

.contacts-bg {
  background: #2751C3;
}

.contacts-form {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  margin: 90px 30px 0;
  gap: 10px;
  @media (min-width: 320px) and (max-width: 1023px) {
    align-items: center;
    margin: 60px auto 60px;
    max-width: 100%;
    width: calc(100% - 1.5rem * 2);

  }

  &--services {
    margin: 60px 0 70px;
    @media (min-width: 320px) and (max-width: 1023px) {
      padding: 0px 20px 0px;
      margin: 25px 0 50px;
      width: 100%;
    }

    &--2 {
      margin: 25px 0 110px;
      @media (min-width: 320px) and (max-width: 1023px) {
        padding: 0px 0px 0px;
        margin: 25px 0 50px;
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #FFFFFF;
  }

  &__input {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 13px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #292D32;
    width: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: #292D32;
    }
  }
}

.contacts-form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  width: 100%;

}

/*vacancies-card*/
.vacancies-card {
  display: flex;
  gap: 10px;
  flex-direction: column;

  &__img {
    border-radius: 20px;
    max-height: 390px;
    object-fit: cover;

    &--2 {
      margin-bottom: 20px;
      @media (min-width: 320px) and (max-width: 1023px) {
        max-height: 100%;
        width: 100%;

      }
    }

  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #292D32;
    max-width: 390px;

    &--2 {
      max-width: 100%;
    }

  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2C5BDB;

  }

  &__time {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #292D32;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #292D32;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.vacancies-list {
  margin-bottom: 20px;

  padding-left: 20px;

  li {
    list-style: disc;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 320px) and (max-width: 1023px) {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

  }
}

.another-grid {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.another-vacancies {
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 30px 20px;
  gap: 20px;

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #292D32;

  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #292D32;

    &--social {
      display: grid;
      grid-template-columns: 24px 1fr;
      grid-gap: 10px;
    }
  }
}

.vacancies-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vacancies-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 25px 0 100px;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;

  }
}

/*blog-page*/
.blog-wrapper {

}

.blog-links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  @media (min-width: 320px) and (max-width: 1439px) {
   flex-wrap: wrap;

  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 30px;
    border: 1px solid #2C5BDB;
    border-radius: 20px;
    color: #2C5BDB;

    &--active {
      background: #2C5BDB;
      color: #FFFFFF;
    }
  }
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 55px;
  @media (min-width: 768px) and (max-width: 1439px) {
    grid-template-columns: 1fr 1fr;

  }
  @media (min-width: 320px) and (max-width: 767px) {
    grid-template-columns: 1fr;

  }
  .blog-item {
    &:first-child {
      grid-column: span 2;
      @media (min-width: 320px) and (max-width: 1439px) {
        grid-column: span 1;

      }
    }

  }
}
 .blog-item:first-child .blog-item__img{
   max-height: 300px;
   @media (min-width: 320px) and (max-width: 1439px) {
     max-height: 240px;

   }
 }
 .blog-item:first-child .blog-block{
   margin-top: -20px;
   @media (min-width: 320px) and (max-width: 1439px) {
     margin-top: 0px;

   }
 }
.blog-item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;


  &__img {
    max-height: 240px;
    margin-bottom: -30px;
    object-fit: cover;
    border-radius: 20px;
  }

}

.blog-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  align-items: start;
  .button-blue{
    color: #2C5BDB;
  }
  &--reverse {

  }
}

.blog-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #F2F2F2;
  border-radius: 20px;
  padding: 15px 20px 30px;
  min-height: 200px;
  height: 100%;
   &:hover{
   background: #2C5BDB;
     .blog-block__title{
       color: #FFFFFF;
     }
     .blog-block__time{
       color: #FFFFFF;
     }
     .button-blue{
       border-color: #FFFFFF;
       color: #FFFFFF;
     }
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #292D32;
    margin-bottom: 10px;
    max-height: 240px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
    white-space: pre-wrap; /* let the text wrap preserving spaces */
  }

  &__time {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    color: #292D32;
  }
}

.vacancies-comments {

}

.comments-row {
  display: flex;
  align-items: center;

  &--main {
    gap: 20px;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-right: 30px;
    text-decoration-line: underline;
    color: #2751C3;
  }

  &__img {
    width: 44px;
    height: 44px;
    object-fit: cover;
    border-radius: 10px;
  }

  &__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #BFBFBF;
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2751C3;
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.comments-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;


}

.comments-box {
  display: flex;
  align-items: center;
  margin-right: 25px;
  gap: 10px;

  &__icon {
    width: 24px;
    height: 24px;
    fill: none;

    &--rotate {
      transform: rotate(180deg);

    }
  }

  &__number {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #BFBFBF;
  }
}

.comments-border {
  padding-left: 40px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 0px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='190' viewBox='0 0 6 190' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.99999 184.333C1.52723 184.333 0.333325 185.527 0.333325 187C0.333325 188.473 1.52723 189.667 2.99999 189.667C4.47275 189.667 5.66666 188.473 5.66666 187C5.66666 185.527 4.47275 184.333 2.99999 184.333ZM2.5 -2.18557e-08L2.49999 187L3.49999 187L3.5 2.18557e-08L2.5 -2.18557e-08Z' fill='%23BFBFBF'/%3E%3C/svg%3E");
  }
}

.blog-pagination {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (min-width: 320px) and (max-width: 1023px) {
    justify-content: center;

  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .page-item:first-child .page-link{
    background-color: transparent;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 7px 15px;
  }
  .page-item:last-child .page-link{
    background-color: transparent;
    border: 2px solid #BFBFBF;
    border-radius: 10px;
    padding: 7px 15px;
  }
  .page-item {
  .page-link{
    background: #F2F2F2;
    border-radius: 10px;
    border: none;
    padding: 16px 21px;
    &__icon{
      width: 14px;
      height: 30px;
      fill: none;
      &--rotate{
        transform: rotate(180deg);
      }
    }
  }
  }
  .page-item .page-link{
    font-weight: 700;
    font-size: 16px;
    color: #BFBFBF;
  }
  .page-item .page-link--current{
    color: #292D32;
  }
}
