/*iot-pages*/
.iot-grid{
  display: grid;
  grid-template-columns: 4fr 0.5fr;

  @media (min-width: 320px) and (max-width: 1439px) {
    grid-template-columns: 1fr;

  }
}
.iot-block{
  display: flex;
  flex-direction: column;
  width: fit-content;
  &__img{
    margin-bottom: 20px;
    fill: none;
    width: 100%;
    max-width: 440px;
    height: 100%;
    @media (min-width: 320px) and (max-width: 1439px) {
      max-width: 320px;
      width: fit-content;
    }
  }
  &__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 20px;
    max-width: 810px;
  }
  .button-yellow{
    width: fit-content;
    padding: 16px 80px;
  }
}
.iot-box{
  position: relative;
  &__img{
    position: absolute;
    width: fit-content;
    max-width: 475px;
    right: -5%;
    top: -30px;
    @media (min-width: 320px) and (max-width: 1439px) {
      position: static;
      margin: 40px auto 0;
    }
    @media (min-width: 320px) and (max-width: 424px) {
      position: static;
      margin: 40px auto 0;
      width: 100%;
    }
    @media (min-width: 425px) and (max-width: 767px) {
      position: static;
      margin: 40px auto 0;
      width: 100%;
    }
    @media (min-width: 767px) and (max-width: 1023px) {
      width: fit-content;
    }
  }
}
.benefits-bg{
  background: #F2F2F2;
  padding: 60px 0 80px;
  @media (min-width: 320px) and (max-width: 1023px) {
    padding: 30px 0 40px;

  }
}
.benefits-wrapper{
  display: flex;
  flex-direction: column;
  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #292D32;
    margin-bottom: 45px;
  }
}
.benefits-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;

  }
}
.benefits-item{
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 20px;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px 35px;
  &--link{
    grid-template-columns: 40px 1fr 24px;
    &:hover{
      background: #2C5BDB;
      .benefits-item{
        &__icon{
          stroke: #FFFFFF;
          &--2{
            stroke: #FFFFFF;
          }
        }
        &__text{
          color: #FFFFFF;
        }
      }
    }
  }
  &__icon{
    width: 40px;
    height: 40px;
    fill: none;
    stroke: #2C5BDB;
    &--2{
      width: 24px;
      height: 24px;
      stroke: #2C5BDB;
      fill: none;
    }

  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}
.iot-info{
  display: flex;
  flex-direction: column;
  margin: 60px 75px;
  @media (min-width: 320px) and (max-width: 1023px) {
    margin: 30px 0px;

  }
  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #292D32;
    margin-bottom: 30px;
  }

}
.info-grid{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
          "area-1 area-2"
          "area-3 area-2";
  &--health{
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
          "area-1 area-2"
          "area-1 area-2";
    @media (min-width: 320px) and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-template-areas: none;

    }
  }
  &--mining{
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
          "area-1 area-2"
          "area-1 area-2";
    @media (min-width: 320px) and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-template-areas: none;

    }
  }
  &--office{
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
          "area-1 area-2"
          "area-1 area-2";
    @media (min-width: 320px) and (max-width: 1023px) {
      grid-template-columns: 1fr;
      grid-template-areas: none;

    }
  }
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-areas:
          "area-1 area-1"
          "area-2 area-2"
          "area-3 area-3";

  }

}
.info-item{
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  border: 1px solid #2C5BDB;
  border-radius: 20px;
  &--1{
    grid-area: area-1;
  }
  &--2{
    grid-area: area-2;
  }
  &--3{
    grid-area: area-3;
  }
  &__bold{
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
    margin-bottom: 10px;
  }
  &__text{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}

.brochure-bg{
  background: #2751C3;
}
.brochure-block{
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 60px;
  @media (min-width: 320px) and (max-width: 1023px) {
    flex-direction: column;

  }
  &__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 650px;
  }
  .button-yellow{
    max-width: 255px;
    width: 100%;
  }
}
.monitoring-bg{
  background: #2C5BDB;
  padding: 80px 0 60px;
  @media (min-width: 320px) and (max-width: 1439px) {
    padding: 40px 0 30px;

  }
}
.monitoring-wrapper{
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  @media (min-width: 320px) and (max-width: 1439px) {
    grid-template-columns: 1fr;
  .monitoring-box{
    order: 2;
  }
  }
}
.monitoring-box{
  min-height: 530px;
  @media (min-width: 320px) and (max-width: 1439px) {
    position: static;
    min-height: auto;

  }
  &__img{
  position: absolute;
  left: 13%;
    max-width: 810px;
    @media (min-width: 1440px) and (max-width: 1680px) {
      left: 4%;

    }
    @media (min-width: 320px) and (max-width: 1439px) {
      position: static;
      width: 100%;

    }

  }
}
.monitoring-block{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  @media (min-width: 320px) and (max-width: 1439px) {
    margin-top: 0px;
    margin-bottom: 50px;
  }
  &__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
}
.monitoring-grid{
  display: grid;
  grid-gap: 10px;
  &__text{
    padding: 5px 20px;
    background: #F2F2F2;
    border-radius: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width:fit-content;
    color: #292D32;
    @media (min-width: 320px) and (max-width: 1023px) {
      width: 100%;
    }
  }
}
.info-list{
  padding-left: 30px;
  &__item{
    list-style: disc;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #292D32;
  }
}
.video-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 70px 0 130px;
  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }
}
.video-item{
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  &--no-bg{
    background-color: transparent;
  }
}
